
body {
  background-color: #fefbd8;
}

img {
	height: 400px;
	width: 500px;
}

#content {
	width: auto;
	margin: 0 auto;
	clear: both;
    display: flex;
}

#left-text {
    vertical-align:middle;
}

#right-pic > img{
	display: block;
}

#table {
    display: table;
    width: 25%;
}

#fact-container {
    display: table-cell;
}

#b1, #b2 {
    display: table-cell;
    width: 100px;
    float: right;
}

#answer-container {
    margin-top: 5px;
    margin-left: 75px;
}
