
body {
  background-color: #fefbd8;
}

img {
	height: 400px;
	width: 500px;
}

#content {
	width: auto;
	margin: 0 auto;
	clear: both;
  display: flex;
}

#left-text {
    vertical-align:middle;
}

#right-pic > img{
	display: block;
}

#greeting-container {
  margin-top: 20px;
}
