
body {
  background-color: #fefbd8;
}

img {
	height: 400px;
	width: 500px;
}

#content {
	width: auto;
	margin: 0 auto;
	clear: both;
    display: flex;
}

#left-text {
    vertical-align:middle;
}

#right-pic > img{
	display: block;
}

#buttons {
    width: auto;
	margin: 0 auto;
	clear: both;
    display: flex;
}

#b1 {
    padding: 0 50px 0 25px;
}

#b2 {
    padding: 0 0 50px 0;
}

#greeting-container {
  margin-top: 5px;
  margin-left: 75px;
}
